* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* change .header from a class to a semantic html header*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*the header elements are defined at the top because they apply to the whole website and isnt needed in the later sections of the style sheet*/
h1 {
    display: inline-block;
    font-size: 48px;
} 

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

h3 {
margin-bottom: 10px;
    text-align: center;
}

/* remove the .seo part of the header from the style sheet after the html file is refactored*/
/*header h1 .seo {
    color: #d9dcd6;
}*/

header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header div ul {
    list-style-type: none;
}

header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* image that is seen in under the header*/
nav {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*moved this up on the style sheet so that it flows better and matched the html file*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*combine all of these into a single class that defines the section elelments in order to declutter the style sheet*/
/*moved section elements above aside elements, like how they are in the html file*/
 .left-section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}*/

/*add these three sections to the float-left and float-right class sections*/
/*.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}*/

/*remove h2 from the style sheet and move it further up the css sheet*/
/* .search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}*/

/*.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}*/

/*.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
} */

.float-left {
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

.float-right {
    float: right;
    margin-left: 25px;
    max-height: 200px;
}


.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*since the  benefit lead brand and cost ar all the same they can be lumped together*/
.benefit-lead .benefit-brand .benefit-cost{
    margin-bottom: 32px;
    color: #ffffff;
}

/*
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
*/

/*the h3 eolements are already defined after the h2 elements */
/*
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
*/

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* make the .footer class into a semantic html element*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*dont need the h2 for the footer because the h2 element has already been defined in lines 24-27 */
/*.footer h2 {
    font-size: 20px;
}*/

/* dont delete anything until you know that you dont need it, comment the line/lines out if you dont think you need it */
